* {
  margin: 0;
}
body {
  background-color: #f1e8e3;
}
/* ______________header style__________ */

div .mainheader {
  background-image: url("p4.png");
  position: relative;
}
header.mainheader {
  display: flex;
  align-items: stretch;
  width: 1183px;
  height: 167px;
  border-radius: 0px 0px 80px 80px;
  background-color: #b68e76;
  justify-content: center;
  margin-left: 153px;
  margin: 0px auto;
  flex-direction: column;
}
.navigation-text {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto Slab";
  text-decoration: none;
}
ul.navigation {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
ul.social-icons {
  display: flex;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}
hr#vertical-hr {
  height: 7px;
  border: 1px solid #000;
  margin: 0px 20px;
}
.container {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
/* .container.header-item-2 {
  gap: 50px;
} */
select {
  width: 389px;
  height: 45px;
  font-weight: 600;
  font-size: 21px;
  border-block: none;
  border-radius: 23px;
  background-color: #ffffff;
}

input {
  width: 170px;
  height: 42px;
  font-weight: bold;
  font-size: 21px;
  border: none;
  color: white;
  border-radius: 21px;
  background-color: #b68e76;
  text-decoration-line: none;
}

h2 {
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #6e6a68;
  font-weight: 250;
  font-family: "Roboto Slab";
}

h1 {
  font-size: 72px;
  letter-spacing: 0px;
  line-height: 95px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
}

.ul1 {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 33px;
  text-decoration: underline;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto Slab";
}

div .box1 {
  width: 350px;
  height: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  right: 10px;
}

.box1 text {
  margin: 10%;
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 23px;
  font-weight: 500;
  background-color: #fff;
  font-family: "Roboto Slab";
}

.box1 center {
  background-color: #fff;
}

.box1 .i1 {
  background-color: #fff;
}

.box1 .i2 {
  background-color: #fff;
}

.box1 .i1 a {
  text-decoration-line: none;
  background-color: #fff;
}

.box1 .i2 a {
  text-decoration-line: none;
  background-color: #fff;
}

.b1 {
  width: 20px;
  height: 20px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  background-color: #b68e76;
}

.b2 {
  width: 20px;
  height: 20px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  background-color: #b68e76;
}

.box1 img {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

div .box2 .c1 {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #ffffff;
  text-decoration-line: none;
  background-image: url("p3.png");
  margin: 30px;
}
p {
  text-decoration-line: none;
}
h2 {
  font-size: 39px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto Slab";
}
.child1-text2 {
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #000000;
  font-weight: 250;
  font-family: "Roboto Slab";
}



/* order section css  */

section.place-order-section {
  height: 550px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img.icecream-img {
  height: 541px;
  box-shadow: 8px 8px 8px 8px #f1e8e3 inset;
}

.place-order-text-container {
  height: 550px;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
/* --- section */
.place-order-section-text1 {
  font-size: 39px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto Slab";
}

.place-order-section-text2 {
  font-size: 32px;
letter-spacing: 0px;
line-height: 42px;
color: #000000;
font-weight: 250;
font-family: "Roboto Slab";
}

.place-order-section-text3 {
  font-size: 32px;
  /* font-weight: 400; */
  letter-spacing: 0px;
  line-height: 23px;
  text-decoration: underline;
  color: #000000;
  font-weight: 600;
  font-family: "Roboto Slab";
  float: left;
}

.star-program {
  width: 70%;
  margin: auto;
  margin-top: 60px;
  height: 522px;
  border-radius: 110px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.relative {
  position: relative;
}

.star-program-image {
  height: 500px;
  box-shadow: -8px 0px 17px -14px #00000059;
}
.star-program-text {
  width: 45%;
}
input.find-branch-button {
  width: 281px;
  font-size: 22px;
  margin-top: 18px;
  color: #fefefc;
  font-weight: 700;
  font-family: "Roboto Slab";
  border-block: none;
}

h2.find-branch-text2 {
  font-size: 39px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #000000;
  font-weight: 1000;
  font-family: "Roboto Slab";
}
h2.find-branch-text1 {
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #000000;
  font-weight: 250;
  font-family: "Roboto Slab";
}
section.find-branch {
  margin-top: 10%;
  width: 70%;
  height: 477px;
  display: flex;
  /* height: max-content; */
  background-image: url("p2.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* height: auto; */
  /* flex-wrap: nowrap; */
  /* align-items: flex-start; */
  flex-direction: row;
  align-content: center;
}
footer {
  display: flex;
  align-items: stretch;
  width: 1183px;
  height: 679px;
  border-radius: 80px 80px 0px 0px;
  background-color: #b68e76;
  justify-content: center;
  margin-left: 153px;
  margin: 0px auto;
  flex-direction: column;
}
.footer-signup-button {
  height: 42px;
  width: 285px;
  color: #fefefefe;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 21px;
  background-color: #000;
  text-decoration-line: none;
}
.footer-text-field1 {
  width: 285px;
  height: 42px;
  border: none;
  color: black;
  margin-top: 20px;
  /* font-weight: 700; */
  font-weight: 700;
  border-radius: 21px;
  background-color: #fefefe;
  text-decoration-line: none;
}
.footer-text-field2 {
  width: 285px;
  height: 42px;
  border: none;
  color: #000;
  margin-top: 10px;
  /* font-weight: 700; */
  font-weight: 700;
  border-radius: 21px;
  background-color: #fefefe;
  text-decoration-line: none;
}
.navigation-footer {
  display: flex;
  gap: 24px;
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  list-style-type: none;
  flex-direction: column;
}
.footer-quality-taste {
  display: flex;
  /* gap: 10px; */
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 45px;
  flex-wrap: wrap;
}
.footer-signup-form {
  flex-basis: 62%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.footer-section {
  margin-top: 128px;
}
section.find-branch {
  margin-top: 5%;
  width: 50%;
  height: 477px;
  display: flex;
  /* height: max-content; */
  background-image: url("p2.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* height: auto; */
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.right-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(p2.png);
}
.right-container img {
  margin-top: 74px;
  /* margin-left: -58px; */
  margin-right: 63px;
  width: 351px;
  height: 264px;
}
.left-container {
  display: flex;
  flex-basis: 26%;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around;
  align-items: flex-end;
}
.find-branch-section {
  display: flex;
  justify-content: center;
}